header
	.row
		.col-lg-5.col-lg-offset-1.col-sm-12
			h1
				span The
				|  Listener
		.col-lg-5.col-sm-12
			nav
				.row
					.col-lg-3#episodes
						a(href='http://localhost:3000/episodes') Episodes
					.col-lg-3#subscriptions
						a(href='http://localhost:3000/subscriptions') Subscriptions
					.col-lg-3#settings
						a(href='http://localhost:3000/settings') Settings
					.col-lg-3#logout
						a(href='http://localhost:3000/logout') Logout
	.row
		.container.col-md-8.col-md-offset-2.col-sm-12
			.form-group
				textarea#newPodcastEntry.form-control(rows='1')
			.btn#newPodcast
				p Add New Podcast