header
	.row
		.col-md-4.col-md-offset-1.col-sm-10
			h1
				span The
				|  Listener
		.col-lg-7.col-md-8.col-sm-12
			nav
				.row
					ul
						li#episodes.nav-link.col-xs-3
							a(href='http://localhost:3000/episodes' class="btn btn-primary" role="button") Episodes
						li#subscriptions.nav-link.col-xs-3
							a(href='http://localhost:3000/subscriptions' class="btn btn-primary" role="button") Subscriptions
						li#logout.nav-link.col-xs-3
							a(href='http://localhost:3000/logout' class="btn btn-primary" role="button") Logout
	.row
		.container.col-md-8.col-md-offset-2.col-sm-12#newPodcastDiv
			input#newPodcastEntry.form-control(type='text', placeholder='Copy RSS Feed Here')
			//- .form-group
			//- 	textarea#newPodcastEntry.form-control(rows='1')
			.btn#newPodcast Add New Podcast