extends layout.pug

block title
	title The Listener - Episodes

block content
	include includes/header-logged-in.pug
	.row
		#search
	.row
		audio(src='http://open.live.bbc.co.uk/mediaselector/5/redir/version/2.0/mediaset/audio-nondrm-download/proto/http/vpid/p049zzfy.mp3', preload='auto')
	.row
		.col-lg-10.col-lg-offset-1
			.row
				#episodeDisplay


block script
	script(type='text/javascript', src='js/episodes.js')
