doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		block title
			title Default Title
		link(href='https://fonts.googleapis.com/css?family=Crimson+Text', rel='stylesheet')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css')
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
		link(href='css/style.css', rel='stylesheet')
	body
		block content
			h1 Content not found

		include includes/footer.pug
		// JQuery
		script(type='text/javascript', src='lib/js/jquery-2.2.3.min.js')
		// Bootstrap tooltips
		script(type='text/javascript', src='lib/js/tether.min.js')
		// Bootstrap core JavaScript
		script(type='text/javascript', src='lib/js/bootstrap.min.js')
		// MDB core JavaScript
		script(type='text/javascript', src='lib/js/mdb.min.js')
		script(src='/audiojs/audiojs/audio.min.js')
		script.
			audiojs.events.ready(function() {
			var as = audiojs.createAll();
			});
		script(type='text/javascript', src='js/script.js')
		block script
