extends layout.pug

block title
	title login

block content
	include includes/header-logged-out.pug
	p login or sign up button
	#login
		h1 login
		p enter username
		p enter password
		p login button
	#signUp
		h1 sign up
		p enter username
		p enter password
		p signup button
