extends layout.pug

block title
	title login

block content
	include includes/header-logged-out.pug
	.row
		.col-sm-10.col-sm-offset-1
			.row#login
				.container.col-sm-4.col-sm-offset-4
					form.form-signin
						h2.form-signin-heading Please sign in
						|  
						label.sr-only(for='username') Username
						|  
						input#inputEmail.form-control(type='text', placeholder='Username', required='', autofocus='')
						|  
						label.sr-only(for='inputPassword') Password
						|  
						input#inputPassword.form-control(type='password', placeholder='Password', required='')
						.checkbox
						|  
						button.btn.btn-lg.btn-primary.btn-block#loginSubmitBtn(type='submit') Sign in
					.row
						p To sign up please click 
							a.switch here
			.row#signUp.hide
				.container.col-sm-4.col-sm-offset-4
					form.form-signup
						h2.form-signin-heading Please sign up
						|  
						label.sr-only(for='username') Create Username
						|  
						input#inputEmail.form-control(type='text', placeholder='Create Username', required='', autofocus='')
						|  
						label.sr-only(for='inputPassword') Create Password
						|  
						input#inputPassword.form-control(type='password', placeholder='Create Password', required='')
						.checkbox
						|  
						button.btn.btn-lg.btn-primary.btn-block#signUpSubmitBtn(type='submit') Sign up
					.row
						p To sign in please click 
							a.switch here