extends layout.pug

block title
	title episodes

block content
	include includes/header-logged-in.pug
	.row
		#search
	.row
		.col-lg-10.col-lg-offset-1.col-xs-12
			.row.subscription
				.col-lg-4
					img.img-fluid(src='https://i1.sndcdn.com/artworks-000150515020-01uh91-t500x500.jpg')
				.col-lg-8
					h1 Episode Name
					ul
						li
							| Episode 7 
							span September 30th, 2016
						li
							| Episode 6 
							span September 23rd, 2016
						li
							| Episode 5 
							span September 16th, 2016
						li
							| Episode 4 
							span September 9th, 2016
						li
							| Episode 3 
							span September 2nd, 2016
						li
							a(href='#') Show More
			.row.subscription
				.col-lg-4
					img.img-fluid(src='https://i1.sndcdn.com/artworks-000150515020-01uh91-t500x500.jpg')
				.col-lg-8
					h1 Episode Name
					ul
						li
							| Episode 7 
							span September 30th, 2016
						li
							| Episode 6 
							span September 23rd, 2016
						li
							| Episode 5 
							span September 16th, 2016
						li
							| Episode 4 
							span September 9th, 2016
						li
							| Episode 3 
							span September 2nd, 2016
						li
							a(href='#') Show More
			.row.subscription
				.col-lg-4
					img.img-fluid(src='https://i1.sndcdn.com/artworks-000150515020-01uh91-t500x500.jpg')
				.col-lg-8
					h1 Episode Name
					ul
						li
							| Episode 7 
							span September 30th, 2016
						li
							| Episode 6 
							span September 23rd, 2016
						li
							| Episode 5 
							span September 16th, 2016
						li
							| Episode 4 
							span September 9th, 2016
						li
							| Episode 3 
							span September 2nd, 2016
						li
							a(href='#') Show More
			.row.subscription
				.col-lg-4
					img.img-fluid(src='https://i1.sndcdn.com/artworks-000150515020-01uh91-t500x500.jpg')
				.col-lg-8
					h1 Episode Name
					ul
						li
							| Episode 7 
							span September 30th, 2016
						li
							| Episode 6 
							span September 23rd, 2016
						li
							| Episode 5 
							span September 16th, 2016
						li
							| Episode 4 
							span September 9th, 2016
						li
							| Episode 3 
							span September 2nd, 2016
						li
							a(href='#') Show More
			.row.subscription
				.col-lg-4
					img.img-fluid(src='https://i1.sndcdn.com/artworks-000150515020-01uh91-t500x500.jpg')
				.col-lg-8
					h1 Episode Name
					ul
						li
							| Episode 7 
							span September 30th, 2016
						li
							| Episode 6 
							span September 23rd, 2016
						li
							| Episode 5 
							span September 16th, 2016
						li
							| Episode 4 
							span September 9th, 2016
						li
							| Episode 3 
							span September 2nd, 2016
						li
							a(href='#') Show More
			.row.subscription
				.col-lg-4
					img.img-fluid(src='https://i1.sndcdn.com/artworks-000150515020-01uh91-t500x500.jpg')
				.col-lg-8
					h1 Episode Name
					ul
						li
							| Episode 7 
							span September 30th, 2016
						li
							| Episode 6 
							span September 23rd, 2016
						li
							| Episode 5 
							span September 16th, 2016
						li
							| Episode 4 
							span September 9th, 2016
						li
							| Episode 3 
							span September 2nd, 2016
						li
							a(href='#') Show More																												