extends layout.pug

block title
	title The Listener - Uh Oh!

block content
	include includes/header-logged-out.pug
	.row
		.col-sm-10.col-sm-offset-1
			h1 Whoops! Something seems to have gone wrong, please login here.