nav > div {
	margin: 0;
}

.nav-link {
	margin: 40px 10px;
	display: inline-block;
}

#newPodcast {
	border: black 1px solid;
}

#newPodcastDiv {
	text-align: center;
}

#newPodcastDiv * {
	margin: 10px;
}

.releaseDate {
	font-size: 20px;
}

#login {
	margin-top: 100px;
}

#signUp {
	margin-top: 100px;
}

#login p {
	margin: 10px;
	text-align: center;
	font-size: 18px;
}

#signUp p {
	margin: 10px;
	text-align: center;
	font-size: 18px;
}

.nav-link a {
	color: black;
	font-size: 25px;
	background-color: white;
	display: inline-block;
	border: none;
}

.nav-link a:hover {
	background-color: black;
	color: white;
}

.nav-link a:active {
	background-color: black;
	color: white;
}

.nav-link a:focus {
	background-color: black;
	color: white;
}


body {
	font-family: 'Crimson Text', serif;
	color: black;
}

.podcastEpisode {
	display: inline-block;
}

img {
	margin: 10px;
	width: auto;
	height: auto;
	max-width: 100%;
}


header h1 {
	font-size: 80px;
	text-align: right;
}

header h1 span {
	font-size: 50px;
	font-style: italic;
}

#buttons * {
	display: inline;
	background: grey;
	margin: 50px;
	padding: 20px 40px;
	border-radius: 3px;
}

.image {
	position: relative;
}

.podcastEpisode h2 {
	height: 150px;
}

.subscription ul {
	list-style-type: none;
	font-size: 18px;
}

.subscription h1 {
	margin-left: 20px;
}

.played {
	color: grey;
}

.showAllEpisodes h3 {
	width: 300px;
}

.logout {
	margin-top: 100px;
	text-align: center;
}